@font-face {
    font-family: 'FrontageCondensedOutline';
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot');
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot') format('embedded-opentype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2') format('woff2'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff') format('woff'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.ttf') format('truetype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.svg#FrontageCondensedOutline') format('svg');
}
@font-face {
    font-family: 'ZonaProBold';
    src: url('../fonts/zona-pro/ZonaProBold.eot');
    src: url('../fonts/zona-pro/ZonaProBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProBold.svg#ZonaProBold') format('svg');
}
@font-face {
    font-family: 'ZonaProExtraLight';
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot');
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProExtraLight.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProExtraLight.svg#ZonaProExtraLight') format('svg');
}


:root {
    --primary-color: rgba(15, 47, 120, 1);
    --seconday-color: rgba(54, 160, 172, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 90, 61, 1);
    --grey-color: rgba(112, 112, 112, 1);
    --grey-dark-color: rgba(90, 90, 90, 1);
    --grey-light-color: rgba(242, 244, 247, 1);
    --red-color: rgba(179, 67, 62, 1);
    --blue-color: rgba(162, 182, 223, 1)
}

body {
    font-size: 16px;
}


h2 {
    font-size: 2.5em;
    font-family: 'ZonaProBold';
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1246px;
}

/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ----------------- Actualités ------------------------*/
/* -----------------------------------------------------*/
#NousConfier{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;

    
    
}
#ImgNousConfier{
    position: absolute;
    z-index: 0;

}

#NousConfierText{
    position: absolute;
    height: 100%;
    width: 450px;  
    padding-left: 0;
    margin-left: 0; 
    top: 0px;
    left: 420px;
    
 
    
}
#NousConfierText h2{
    font-family: 'ZonaProBold';
    color: rgb(15, 47, 120);
    font-size: bold;
    font-size: 60px;

}
#NousConfierText p{
    font-family: 'ZonaProExtraLight';
    font-weight: bold;
    font-size: 20px;

}
#buttonNousContacter{
    padding-top:20px;
    padding-bottom: auto;
    background-color: rgb(15, 47, 120);
    border: none;
    color: white;
    font-family: ZonaProBold;
    font-size: bold;
    font-size: 23px;
    padding: 10px 25px;
    border-radius: 5px;


 }
 #buttonNousContacter:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(15, 47, 120);
 }

/* -----------------------------------------------------*/
/* --------------- END Actualités ----------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/

@font-face {
	font-family: "ZonaProBold" ;
	src:url("../fonts/zona-pro/ZonaProBold.woff") ;
}

